<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://www.btydt.com" target="_blank" title="BT一点通">BT一点通</a></li>
      <li><a href="http://www.doubilaile.com" target="_blank" title="Hexo">逗逼来了</a></li>
    </ul>
</div>
